<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>进销存 管理中心 - 修改 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/styles/jquery-ui.css" />
<style type="text/css">
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px;}
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label,.ui_tpicker_millisec_label,.ui_tpicker_time_label{padding-left:20px}
</style>

<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-slide.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-addon.js"></script>

<script>
$(function() {
	
	 /**************鼠标滑上显示颜色*******************/
	  $(".mouseon").mouseover(function(){
		  $(this).addClass("current_tr");
	  });
	  
	  $(".mouseon").mouseout(function(){
		  $(this).removeClass("current_tr");
	  });
	  
	/**************二级联动通过商品类型选择商品*******************/
	//$(".goods").hide();
	//当第一个下拉列表变动内容时第二个下拉列表将会显示 
	$(".type").change(function(){	
		var type_id=$(this).val();
		var obj_goods = $(this).parent().next().find("select");
		obj_goods.show().empty();
		obj_goods.append("<option value='0'>请选择商品名称</option>");
		
		if(type_id!=0){	
			$.ajax({
				type:'POST',
			    url:'__MODULE__/Goods/getGoodsByTypeId',
			    data:{type_id:type_id},
			    dataType:'json',
			    timeout:3000,
			    async:true,
			    success:function(data){
			    	str = '';

			    	if(data==null)
			    		return false;
			    			    	
			    	$.each(data,function(n,i){
			    		obj_goods.append("<option value='"+data[n].id+"'>"+data[n].name+"</option>");
			    	});
			    },
			    error:function(msg){
			        alert('请求发生错误,刷新页面重试！');
			    }
	        });
		} 
	}); 
	
	/**************添加一行单机事件*******************/
	$(".plus").on("click",function(){
		//先获取所在的tr
		var tr = $(this).parent().parent();
		if($(this).val()=="+"){
			//点击+号时，给下一个select商品类型绑定上二级联动事件
			//V1.5以上版本默认值是：false
			//1:一个布尔值（true 或者 false）指示事件处理函数是否会被复制。
			//2:一个布尔值，指示对数据是否应该被复制。
			var newtr = tr.clone(true);
			newtr.find(":button").val("-");
			tr.after(newtr);
		}
		else tr.remove();
		
		//将序号重新排列
		$(".order").each(function(i){
			$(this).text(i+1);
		});
	});
	
	
	/***************datetime插件*********************/
	$('#datetime').datetimepicker();
	/***************datetime插件结束*********************/
	
	
	/**************提交验证事件*******************/
	//错误信息不可见
	$("#error").parent().hide();
	//提交按钮,所有验证通过方可提交            
	$('#submit').click(function(){
		var flag_time  = true;
		var flag_user  = true;
		var flag_type  = true;
		var flag_goods = true;
		var flag_price = true;
		var flag_quantity= true;
		var flag_stock = true;
		var flag_goods_stock = true;
		
		
		var list = new Array();
		
		//检查入库时间
		var time = $('#datetime').val();
		
		if(time!=null){
			//验证时间正则格式
			var reg = new RegExp("^[1-2][0-9][0-9][0-9]-([1][0-2]|0?[1-9])-([12][0-9]|3[01]|0?[1-9]) ([01][0-9]|[2][0-3]):[0-5][0-9]$");
			if(!reg.test(time))
				flag_time = false;
		}
		else flag_time = false;
		
		//检查入库人
		var user = $('#user').val();
		if(user==0)
			flag_user= false;
		
		//检查入库商品信息
		$('.type').each(function() {
			var type = $(this).val();
			if(type==0){
				flag_type = false;
				//Query中each类似于javascript的for循环 但不同于for循环的是在each里面不能使用break结束循环，也不能使用continue来结束本次循环，想要实现类似的功能就只能用return
				return false;
			}
		});
		
		//商品名称
		$('.goods').each(function() {
			var goods = $(this).val();
			if(goods==0){
				flag_goods = false;
				return false;
			}
		});
		
		//价格
	 //000 错
     //0 对
     //0. 错
     //0.0 对
     //050 错
     //00050.12错
     //70.1 对
     //70.11 对
     //70.111错
     //500 正确
		$('.price').each(function() {
			var price = $(this).val();
			if(price!=null){
				//验证价格正则
				var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
     			if (!reg.test(price)){
     				flag_price = false;
     				return false;
     			}
			}
			else flag_price = false;
		});
		
		//数量
		$('.quantity').each(function() {
			var quantity = $(this).val();
			if(quantity!=null){
				//验证数量正则
				var reg = /^[0-9]*[1-9][0-9]*$/;
     			if (!reg.test(quantity)){
     				flag_quantity = false;
     				return false;
     			}
			}
			else flag_quantity = false;
		});
		
		
		//仓库
		$('.stock').each(function() {
			var stock = $(this).val();
			if(stock==0){
				flag_stock = false;
				return false;
			}
		});
		
		
		//不能出现商品ID和库房ID相同的行
		if(flag_goods && flag_stock){
			//减去表头
			var len = $('#listDiv table tr').length-1;
			
			for(i=0;i<len;i++){
				for(j=i;j<len;j++){
					var goods_i = $('.goods').get(i).value;
					var goods_j = $('.goods').get(j).value;
					var stock_i = $('.stock').get(i).value;
					var stock_j = $('.stock').get(j).value;
					
					if(i!=j && goods_i==goods_j && stock_i==stock_j){
						list.push((i+1)+","+(j+1));
					}
				}
			}
			
			if(list.length>0)
				flag_goods_stock = false;
		}
		

		if(flag_time && flag_user && flag_type && flag_goods && flag_price && flag_quantity && flag_stock)             
			$('form').submit();
		else{
			str="";
			if(!flag_time)
				str +="<li>入库时间格式不正确；</li>";
			if(!flag_user)
				str +="<li>入库人未选择；</li>";
			if(!flag_type)
				str +="<li>商品规格未选择；</li>";
			if(!flag_goods)
				str +="<li>商品名称未选择；</li>";
			if(!flag_price)
				str +="<li>商品价格未填写或格式不正确；</li>";	
			if(!flag_quantity)
				str +="<li>进货数量未填写或格式不正确；</li>";
			if(!flag_stock)
				str +="<li>所入库房未选择；</li>";	
			if(!flag_goods_stock)
				str +="<li>序号"+list+"的商品名称和所入库房相同！请确认；</li>";
				
			$("#error").parent().show();
			
			$("#error").html("<ol>"+str+"</ol>");
			return false;
		}
	}); 	
	
	
});
</script>
</head>
<body>
<h1>
    <span class="action-span"><a href="__CONTROLLER__/index">列表</a></span>
    <span class="action-span1"><a href="__APP__">进销存管理中心</a></span>
    <span id="search_id" class="action-span1"> - 修改 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="__CONTROLLER__/update">
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
        	    <td class="label">错误信息：</td>
                <td id="error" style="color:red;"></td>
        	            </tr>
                        
                        
                        <tr>
                <td class="label">入库时间：</td>
                <td>
                    <input type="text" id="datetime" name="enterdate" maxlength="60" size="40" value="<?php echo date("Y-m-d",strtotime($data['enterdate'])); ?>" />
                    <span class="require-field">*</span>
                </td>
            </tr>
			            <tr>
                <td class="label">入库人：</td>
                <td>
                	<select name="user_id" id="user">
                		<option class="gray" value="0">请选择入库人员：</option>
                		<?php foreach($data_user as $k=>$v):?>
                			<option <?php if($data['user_id']==$v['id']) echo "selected='selected'";?> value="<?php echo $v['id'];?>">
                				<?php echo $v['username'];?>
                			</option>
                		<?php endforeach;?>
                	</select>
              
                    <span class="require-field">*</span>
                </td>
            </tr>
            
              
			    <tr>
                <td class="label">入库商品：</td>
                <td>
                	<div class="list-div" id="listDiv">
                    <table cellspacing="1" cellpadding="3" width="100%">
                   		<tr>
                   			<th>序号</th>
                   			<th>商品规格</th>
                   			<th>商品名称</th>
                   			<th>进货价格</th>
                   			<th>进货数量</th>
                   			<th>所入仓库</th>
                   			<th>操作</th>
                   		</tr>
         				<?php foreach($data_enterstockdetails as $k=>$v):?>
                   		<tr style="text-align:center;" class="mouseon">
                   		<td class="order"><?php echo $k+1;?></td>
                   		<td>
                   			<select name="type_id[]" class="type">
                			<option value="0">请选择商品规格</option>
                			<?php foreach($data_type as $kk=>$vv):?>
                			<?php if($v['id_type']==$vv['id']) $select = 'selected=selected';
								else $select = '';?>
                			<option <?php echo $select;?> value="<?php echo $vv['id'];?>">
                				<?php echo $vv['name'];?>
                			</option>
                			<?php endforeach;?>	
                			</select>
                		</td>
                   		<td>
                   		<select name="goods_id[]" class="goods">
                		<option value='<?php echo $v["id_goods"];?>'><?php echo $v['name_goods'] ;?></option>
                		</select>
                   		</td>
                   		<td><input type="text" name="price_enter[]" class="price" maxlength="10" size="10" value="<?php echo $v['price_enter'] ;?>" /> 元</td>
                   		<td><input type="text" name="quantity_enter[]" class="quantity" maxlength="10" size="10" value="<?php echo $v['quantity_enter'] ;?>" /> 个</td>
                   		<td>
                   			<select name="stock_id[]" class="stock">
                			<option value="0">请选择所入仓库</option>
                			<?php foreach($data_stockhouse as $kk=>$vv):?>
                			<?php if($v['stock_id']==$vv['id']) $select = 'selected=selected';
								else $select = '';?>
                			<option <?php echo $select;?> value="<?php echo $vv['id'];?>">
                				<?php echo $vv['name'];?>
                			</option>
                			<?php endforeach;?>	
                			</select>
                		</td>
                   		<td><input class="plus" type="button" value="<?php echo $k==0?'+':'-';?>"/></td>
                   		</tr>
                   		<?php endforeach;?> 
                   	</table>
                   	</div>
                </td>
            </tr>         
			         
			            <tr>
                <td colspan="2" align="center"><br />
                    <input id="submit" type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                    <!-- <input type="hidden" name="data_goods_stock" value="<?php echo $data_str;?>"> -->
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
</html>