<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>进销存</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<frameset rows="51,*" framespacing="0" border="0">
  <frame src="__CONTROLLER__/top" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
  <frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body">
    <frame src="__CONTROLLER__/menu" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
    <frame src="__CONTROLLER__/drag" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
    <frame src="__CONTROLLER__/main" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
  </frameset>
<noframes>
<body>
<p>对不起，您的浏览器不支持“框架”！</p>
</body>
</noframes>
</frameset>
</html>