<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- 待修改 -->
<title>进销存 - 用户管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.4.js"></script>
</head>
<body>

<h1>
<span class="action-span"><a href="__CONTROLLER__/add">添加用户</a></span>
<span class="action-span1"><a href="__APP__">进销存 管理中心</a> </span><span id="search_id" class="action-span1"> - 用户 </span>
<div style="clear:both"></div>
</h1>

<div class="form-div">
  <form action="__ACTION__" name="searchForm" method="get">
    <img src="__PUBLIC__/images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
     <input type="text" name="username" size="15">
    <input type="submit" value=" 搜索 " class="button">
  </form>
</div>

<form method="post" action="__CONTROLLER__/bdel" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">
  <table cellpadding="3" cellspacing="1">
    <tbody>
		<tr>
			<th><input type="checkbox" id="selall"/>全选</th>
			<th>用户名</th>
			<th>角色</th>
			<th>操作</th>
		</tr>
		<?php foreach($data as $v):?>
        <tr>
        	<td align="center"><input type="checkbox" name="delid[]" value="{$v.id}"/>{$v.id}</td>
			<td align="center" class="first-cell">{$v.username}</td>
			<td align="center">{$v.role_name}</td>
			<td align="center">
				<a href="__CONTROLLER__/edit/id/{$v.id}" title="编辑">编辑</a> |
				<a href="__CONTROLLER__/del/id/{$v.id}" onclick="javascript:return confirm('你确认要删除用户:{$v.username}吗？');" title="编辑">移除</a> 
			</td>
		</tr>
		<?php endforeach;?>
	
	<tr>
		<td nowrap="true" colspan="6">
         	<input name="delbutton" type="submit" class="button" value=" 删除所选 " onclick="javascript:return confirm('你确认要删除所选记录吗？');"/>
      </td>
    </tr>
		
    <tr>
		<td nowrap="true" colspan="6">
            <div id="turn-page">
          {$str}
      </div>
      </td>
    </tr>
  </tbody></table>

<!-- end brand list -->
</div>
</form>

<div id="footer">
	版权所有 &copy; 2016 弘大电力 - </div>
</div>
</body>
</html>

<script>
$(document).ready(function(){
	  //初始加载页面删除全选的按钮不可用
	  $("input[name='delbutton']").attr("disabled",true);
	  
	  //为所有delid[]绑定点击事件
	  $("input[name='delid[]']").each(function(k,v){
		  $(this).click(function(){
			  len = $("input[name='delid[]']").length;
			  
			  if($(this).is(":checked")==true){
				  selectAll = 0;
				  //判断其他兄弟delid是否已经选中
				  $.each($("input[name='delid[]']"),function(kk,vv){
					  if(vv.checked==true) selectAll = selectAll+1;
				  });
				  
				  if(selectAll == len)
					  $("#selall").attr("checked","checked");
				  
				  $("input[name='delbutton']").attr("disabled",false);
			  }
			  else{
				  cancelAll = 0;
				  //判断其他兄弟delid是否都未选中
				  $.each($("input[name='delid[]']"),function(kk,vv){
					  if(vv.checked==false) cancelAll = cancelAll+1;
				  });
				  
				  if(cancelAll == len){
					  $("#selall").removeAttr("checked");
					  $("input[name='delbutton']").attr("disabled",true);
				  }
			  }
		  });
	  });
	});
	
$("#selall").click(function(){
	var delbutton = $("input[name='delbutton']");
	var delid = $("input[name='delid[]']");
	
	if($(this).is(':checked')==false){
		delid.removeAttr("checked");
		delbutton.attr("disabled",true);
	}
	else{
		//如果没有数据,即使点击按钮按钮也不好使
		if(delid.length>0){
			//将当前页checkbox全选
			delid.attr("checked","checked");
			//删除按钮可用
			delbutton.attr("disabled",false);
		}
	}
});
</script>